.link{
    color:rgb(249,126,3)
}
.link:active{
    color: rgb(120, 148, 27);
}
link:visited{
    color:aquamarine;
}
link:hover{
    color: rgb(160, 95, 100);
}
.list_item{
    color: rgb(249,3,126);
    list-style-type:none;
    font-size: 20px;

}
/* .list_item:first-child{
    color: burlywood;
}
.list_item:last-child{
    color: rgb(54, 48, 164); */
/* }
.list_item:nth-child(odd){
    color: rgb(18, 51, 196);
}
.list_item:nth-child(even){
    color: rgb(18, 51, 196);
}
.list_item:nth-child(2){
    color: rgb(172, 196, 18);
}
.list_item:nth-child(-n+6){
    color: rgb(80, 196, 18);
} */

/* .list_item::first-letter{
    color: rgb(3, 101, 249);
    font-size: 24px;

} */
/* .list_item::first-line{
    color: rgb(3, 101, 249);
    font-size: 24px;

} */

.text::after{
    content: "Merhaba Ben Sona Eklendim";
    color: cadetblue;
    font-size: 25px;
}
.text::before{
    content: "Merhaba Ben Sona Eklendim";
    color: rgb(20, 225, 233);
    font-size: 25px;
}